body {
    display : flex;
    min-height: 100vh;
    flex-direction: column;

}

main {
    flex : 1 0 auto;
}

header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
field, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

nav {
  background-color: #263238 !important;
}

page {
  padding-top:20px;
  background-color: #e8eaf6 !important;
}

form {
    border: 3px solid #f1f1f1;
}

.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* carousel */
.media-slider 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-slider .slider-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-slider .slider-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Changes the position of the indicators */
.media-slider .slider-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-slider .slider-indicators li 
{
  background: #c0c0c0;
}
.media-slider .slider-indicators .active 
{
  background: #333333;
}
.media-slider img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.carousel {
  position: relative;
}